port: 7880
rtc:
  port_range_start: 50000
  port_range_end: 60000
  use_external_ip: false
  
redis:
  address: redis:6379

keys:
  e5f39c91e7a67a8eb3404ecda50a7e31: jaGcQ6wso+aQK4EGDOU+fSRBY1SPUVTQuSCKJ2X2bRQ=

room:
  auto_create: true
  empty_timeout: 300
  max_participants: 100

logging:
  level: info
  sample: false
